<div class="flex flex-col items-center">
  <!-- area do fundo azul -->
  <div class="fundo-primary flex w-full flex-col gap-4 p-4">
    <!-- top bar -->
    <div class="flex items-center gap-2">
      <p>Dashboard</p>
      <div class="flex-1"></div>
      <button pButton rounded="true" severity="primary">
        <svg pButtonIcon lucideBell></svg>
      </button>
      <button pButton rounded="true" severity="secondary">
        <svg pButtonIcon lucideUser></svg>
      </button>
    </div>

    <div class="flex gap-4">
      <div class="flex-1 rounded-xl bg-white p-3 shadow-md">
        <div class="flex justify-between">
          <p>Despesas</p>
          <svg lucideTrendingUp class="text-red-400"></svg>
        </div>
        <h2 class="text-color-emphasis text-xl font-bold">R$ 8.300,00</h2>
      </div>

      <div class="flex-1 rounded-xl bg-white p-3 shadow-md">
        <div class="flex justify-between">
          <p>Receitas</p>
          <svg lucideTrendingUp class="text-green-500"></svg>
        </div>
        <h2 class="text-color-emphasis text-xl font-bold">R$ 8.300,00</h2>
      </div>
    </div>

    <div class="flex flex-col gap-2 rounded-xl bg-white p-3 shadow-md">
      <div class="flex items-start justify-between">
        <p>Limite mensal</p>
        <h2 class="text-color-emphasis text-xl font-bold">R$ 10.000,00</h2>
      </div>
      <p-progressbar [value]="80" />
    </div>
  </div>

  <!-- separador redondo entre azul e resto do conteudo -->
  <div class="fundo-primary h-4 w-full">
    <div class="h-full rounded-t-full bg-white"></div>
  </div>

  <div class="flex w-full flex-col items-stretch gap-4 px-4">
    <!-- selecionador de periodo -->
    <div class="rounded-border flex justify-between bg-white p-2 shadow">
      @if (true) {
        <div class="flex flex-1 justify-start">
          <p-button severity="contrast" label="Semanal" text="true" />
        </div>
        <div class="flex flex-1 justify-center">
          <p-button severity="contrast" label="Mensal" />
        </div>
        <div class="flex flex-1 justify-end">
          <p-button severity="contrast" label="Anual" text="true" />
        </div>
      } @else {
        <p-button severity="contrast" label="Semanal" text="true" />
        <p-button severity="contrast" label="Mensal" />
        <p-button severity="contrast" label="Anual" text="true" />
      }
    </div>

    <!-- lista de categorias -->
    <div class="flex flex-col gap-4">
      <!-- categoria cell -->
      @for (
        categoria of ['Alimentação', 'Lazer', 'Transporte', 'Teste 1', 'Teste 2', 'Teste 3'];
        track categoria
      ) {
        <div class="flex items-center gap-2 rounded-xl p-4 shadow">
          <div class="bg-primary text-primary-contrast rounded-xl p-2">
            <svg lucidePizza></svg>
          </div>
          <div class="flex-1">
            <p class="text-color-emphasis text-lg">{{ categoria }}</p>
          </div>
          <h3 class="text-color-emphasis font-bold">R$ 200,00</h3>
        </div>
      }
    </div>
  </div>

  <div class="fixed right-4 bottom-4 z-10">
    <p-speeddial />
  </div>
</div>
