<div class="flex items-center gap-2">
  <h2
    class="text-3xl font-bold text-white text-shadow-md"
    style="font-family: Outfit, Commissioner, sans-serif"
  >
    @if (title() === 'Dashboard') {
      Pare <span class="text-primary font-normal">&</span> Pense
    } @else {
      {{ title() }}
    }
  </h2>

  <div class="flex-1"></div>
  <div class="relative flex">
    <button pButton rounded="true" severity="primary" (click)="this.modalNotifs.set(true)">
      <svg pButtonIcon lucideBell></svg>
    </button>
    @if (queryNotif.data(); as data) {
      @if (data > 0) {
        <div
          class="pointer-events-none absolute right-0 bottom-0 inline-flex h-4 w-4 items-center justify-center overflow-clip rounded-full bg-red-500 text-xs text-white"
        >
          {{ data > 9 ? '9+' : `${data}` }}
        </div>
      }
    }
  </div>
  <a pButton rounded="true" severity="secondary" routerLink="/perfil">
    <svg pButtonIcon lucideUser></svg>
  </a>
</div>

<app-modal-notificacoes [(visible)]="modalNotifs" />
