<div class="flex items-center gap-2">
  <h2
    class="text-3xl font-bold text-white text-shadow-md"
    style="font-family: Outfit, Commissioner, sans-serif"
  >
    @if (title() === 'Dashboard') {
      Pare <span class="text-primary font-normal">&</span> Pense
    } @else {
      {{ title() }}
    }
  </h2>

  <div class="flex-1"></div>
  <button pButton rounded="true" severity="primary">
    <svg pButtonIcon lucideBell></svg>
  </button>
  <a pButton rounded="true" severity="secondary" routerLink="/perfil">
    <svg pButtonIcon lucideUser></svg>
  </a>
</div>
