<p-dialog
  [modal]="true"
  [(visible)]="visible"
  header="{{ isEditMode() ? 'Editar' : 'Adicionar' }} {{ isDespesa() ? 'Despesa' : 'Receita' }}"
  (onHide)="this.onDialogHide()"
  styleClass="w-full mx-4"
  [draggable]="false"
>
  <div class="flex flex-col gap-4 pt-2 pb-4">
    @if (!isEditMode()) {
      <div class="rounded-border flex justify-between gap-2 bg-white p-2 shadow">
        <p-button
          severity="contrast"
          label="Despesa"
          [text]="!isDespesa()"
          (onClick)="isDespesa.set(true)"
        />
        <p-button
          severity="contrast"
          label="Receita"
          [text]="isDespesa()"
          (onClick)="isDespesa.set(false)"
        />
      </div>
    }

    <p-float-label variant="on">
      <input
        pInputText
        id="modal-despesa-nome"
        [(ngModel)]="valNome"
        class="w-full"
        autocomplete="off"
      />
      <label for="modal-despesa-nome">Nome</label>
    </p-float-label>

    @if (isDespesa()) {
      <p-float-label variant="on">
        <p-select
          inputId="modal-despesa-categoria"
          [(ngModel)]="valCategoria"
          [options]="categorias"
          class="w-full"
          appendTo="body"
        />
        <label for="modal-despesa-categoria">Categoria</label>
      </p-float-label>
    }

    <div class="flex gap-4">
      <p-floatlabel variant="on" class="flex-3">
        <p-datepicker
          [(ngModel)]="valData"
          inputId="modal-despesa-data"
          showIcon
          iconDisplay="input"
          class="w-full"
          appendTo="body"
        />
        <label for="modal-despesa-data">Data</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="flex-2">
        <p-datepicker
          [(ngModel)]="valData"
          inputId="modal-despesa-hora"
          iconDisplay="input"
          [timeOnly]="true"
          hourFormat="24"
          class="w-full"
          appendTo="body"
        />
        <label for="modal-despesa-data">Hora</label>
      </p-floatlabel>
    </div>

    <p-float-label variant="on">
      <p-iconfield>
        <p-inputnumber
          [(ngModel)]="valValor"
          inputId="modal-despesa-valor"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          class="w-full"
        />
        <p-inputicon>
          <svg lucideDollarSign class="h-4"></svg>
        </p-inputicon>
      </p-iconfield>
      <label for="modal-despesa-valor">Valor</label>
    </p-float-label>
  </div>

  <div class="flex justify-end gap-4">
    <p-button
      [label]="isEditMode() ? 'Salvar alterações' : 'Adicionar'"
      (click)="this.onSubmit()"
    />
  </div>
</p-dialog>
