@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-sans: 'Commissioner', ui-sans-serif, system-ui, sans-serif;
}

:root {
  @apply text-color;

  --p-progressspinner-color-one: currentColor;
  --p-progressspinner-color-two: currentColor;
  --p-progressspinner-color-three: currentColor;
  --p-progressspinner-color-four: currentColor;
}

.h-nav-bottom {
  @apply h-14;
}

.h-nav-bottom-pad {
  @apply h-16;
}
